<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <title>Movie</title>
  </head>
  <body>
    <section id="container">
      <div class="">
          <div class="">
            <h1>Looking for a Movie?</h1>
            <label for="movie-title">Type movie name here: </label>
            <input type="text" id="movie-title" placeholder="Ex) Shrek">
            <p id="error"></p>
          </div>
          <div class="dropdown" id="ratings">
             <div class="dropbtn"><b>Ratings</b></div>
             <div class="dropctn">
               <p id="imd" class="rate">Internet Movie Database: </p>
               <p id="rt" class="rate">Rotten Tomatoes: </p>
               <p id="mc" class="rate">Metacritic: </p>
             </div>
          </div>
          <div class="dropdown">
             <div class="dropbtn"><b>Plot</b></div>
              <div class="dropctn">
               <p id="plot" class="rate"></p>
             </div>
          </div>
          <div>
            <h3 id="runtime">Runtime: </h3>
            <h3 id="rated">Rated: </h3>
            <h3 id="released">Released: </h3>
          </div>
      </div>
      <div class="poster">
        <img id="poster" src="">
      </div>
    </section>
    <!-- <h1>Movie</h1> -->
    <!-- Should be done with post method -->
    <!-- <label for="movie-title">Type movie name here: </label>
    <input type="text" id="movie-title" placeholder="Ex) Shrek"> -->
    <br>
    <br>
    <!-- <img id="poster" src=""> -->
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="./javascripts/app.js"></script>
</html>
