html {
  background-color: black;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

input {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 13px;
}

#plot {
  margin-right: 20px;
}

.rate {
  color: black;
}

#poster {
  width: 370px;
}

.hidden {
  display: none;
}

#error {
  color: red;
}

#ratings {
  margin-top: 25px;
}

.dropctn {
  margin-left: 10px;
}

#container {
  display: grid;
  margin-top: 60px;
  margin-right: 300px;
  margin-left: 300px;
  grid-template-columns: repeat(2, 50%);
}

.poster {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown {
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  overflow: hidden;
  height: 53px;
  transition: height 1s ease-in-out;
}

.dropbtn {
	color: black;
	padding: 10px;
	font-size: 23px;
	cursor: pointer;
}

.show {
  height: 180px;
}
